<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
  <h3>All Chats</h3>
  <form method ="GET" action="/chats/new">
    <button>new chat</button>
  </form>
<br/>
  <% for (let chat of chats) { %>
    <div class="chat-box">
      <p><strong>From:</strong> <%= chat.from %></p>
      <p><strong>Message:</strong> <%= chat.message %></p>
      <p><strong>To:</strong> <%= chat.To %></p> <!-- capital "T" -->
    </div>
  <% } %>

</body>
</html>
